# Variables, data types, expressions, I/O

## 1. Print sentence

Traditionally, the first program written in a new language is called "Hello world". In Python it would be:

In [ ]:
print('Hallo Welt')
print('Testing git')

Hallo Welt
Testing git

The previous was an example of the "print" sentence, which shows the value written in between parenthesis. At follows another example is shown, in which the number 4 is printed:

In [2]:
print(4)

4

## 2. Values and data types

Values are one of the fundamental elements that is manipulated by a program. We have already used two values so far, the number 5, and the string "Hallo Welt".

These values are from a different **type**. The number 5 is considered as an integer (**int**), while the string is considered, well, as a string (**str**), which is basically a series of individual characters put together.

If there is uncertainty about to which type a value belongs to, one can always ask Python:

In [3]:
print("Hallo Welt")
print(type("Hallo Welt"))

Hallo Welt
<class 'str'>

In [4]:
print(22)
print(type(22))

22
<class 'int'>

Decimal numbers (point separated) belong to the **float** type, because of the name of its way to be represented (**floating-point**).

In [5]:
print(14.5)
print(type(14.5))

14.5
<class 'float'>

What about then with the values "22" and "14.5"?. Well, although they look like numbers, because they are enclosed within quotation marks Python consider them as a string:

In [6]:
print(type("22"))
print(type("14.5"))

<class 'str'>
<class 'str'>

In Python, strings can be enclosed within simple quotation marks (**'_'**), double quotation marks (**"_"**), or a sequence of triple quotations marks, either simple (**'''_'''**) or double (**"""_"""**).

In [7]:
print(type('This is a string'))
print(type("This one also"))
print(type('''This one as well'''))
print(type("""And this one"""))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

Strings within simple quotation marks can contain double quotation marks or viceversa:

In [8]:
print('He said that I was "A pain in the ass"')
print("That's Mr. Sander's chicken")

He said that I was "A pain in the ass"
That's Mr. Sander's chicken

The use of triple quotation marks allows the string to ocuppy more than one line in the output:

In [9]:
print('''This is
a message
divided in three lines''')

This is
a message
divided in three lines

One can also use formatting keys (or characters) such as **\n**:

In [10]:
print('This is\na message\ndivided in three lines')

This is
a message
divided in three lines

One could be tempted to use comas or points when writting a large number such as one million, which is usually written as 1,000,000. However, this is going to be treated by Python, and more specifically, by the print sentence, as three different values. In fact, one can print as many values as one want as long as they are coma separated:

In [11]:
print(1,000,000)
print(1,000,'000')
print("Failed attempts:",99,"Attempst left:",14.2,'(Yes, 14.2 does not make sense)')

1 0 0
1 0 000
Failed attempts: 99 Attempst left: 14.2 (Yes, 14.2 does not make sense)

**Conversions:** Sometimes it becomes necesssary to convert values from one type to another. Python provides us with some simple functions to do so. Functions **int()**, **float()**, and **str()** will **attempt** to convert the value given as an argument to its respective type.

We call this functions **"Type functions"**.

For instance, the **int()** function can take a floating-point number or a string, and turn it to an integer. When converting from a floating-point number, the **int()** function **trunks** the number by skipping the decimal part. This process is known as **"zero trunking"**.

In [12]:
print(14.28, int(14.28))
print(22.9999, int(22.9999))
print(3.0, int(3.0))
print(-2.677, int(-2.677))

print("12789", int("12789"))
print(type("12789"), type(int("12789")))

14.28 14
22.9999 22
3.0 3
-2.677 -2
12789 12789
<class 'str'> <class 'int'>

As we said, these functions will attempt to do the conversion, however, it's not always possible:

In [13]:
print(int('99Attempts'))

ValueError: invalid literal for int() with base 10: '99Attempts'

As follows the **float()** function being used is shown:

In [ ]:
print(float("123.45"), type(float("123.45")))
print(str(123.45),type(str(123.45)))

123.45 <class 'float'>
123.45 <class 'str'>

As a final notation, we can also write floating-point numbers using **scientific notation**:

In [ ]:
print(3.16e4, type(3.16e4))
print(4.19E5, type(4.19E5))

31600.0 <class 'float'>
419000.0 <class 'float'>

## 3. Variables

One of the most powerful characteristics of programing languages is their ability to store and manipulate values. A variable could be defined as a name that creates a reference to a value. The assignment sentence creates a new variable and assigns it a new value.

In [ ]:
message = 'Hallo, wie geht es dir?'
intNumber = 42
piNumber = 3.1416

One should distinguish the assignment operator **(=)** from the equality token **(==)**

In [ ]:
print(2 == 1 + 1)
print(3 == 1 + 1)

True
False

The print sentence also works with variables:

In [ ]:
print(message)
print(intNumber)
print(piNumber)

Hallo, wie geht es dir?
42
3.1416