# Variables, data types, expressions, I/O

# 1. Print sentence

Traditionally, the first program written in a new language is called "Hello world". In Python it would be:

In [14]:
print('Hallo Welt')
print('Git is making me cry')

Hallo Welt
Git is making me cry

The previous was an example of the "print" sentence, which shows the value written in between parenthesis. At follows another example is shown, in which the number 4 is printed:

In [15]:
print(4)

4

# 2. Values and data types

Values are one of the fundamental elements that is manipulated by a program. We have already used two values so far, the number 5, and the string "Hallo Welt".

These values are from a different **type**. The number 5 is considered as an integer (**int**), while the string is considered, well, as a string (**str**), which is basically a series of individual characters put together.

If there is uncertainty about to which type a value belongs to, one can always ask Python:

In [16]:
print("Hallo Welt")
print(type("Hallo Welt"))

Hallo Welt
<class 'str'>

In [17]:
print(22)
print(type(22))

22
<class 'int'>

Decimal numbers (point separated) belong to the **float** type, because of the name of its way to be represented (**floating-point**).

In [18]:
print(14.5)
print(type(14.5))

14.5
<class 'float'>

What about then with the values "22" and "14.5"?. Well, although they look like numbers, because they are enclosed within quotation marks Python consider them as a string:

In [19]:
print(type("22"))
print(type("14.5"))

<class 'str'>
<class 'str'>

In Python, strings can be enclosed within simple quotation marks (**'_'**), double quotation marks (**"_"**), or a sequence of triple quotations marks, either simple (**'''_'''**) or double (**"""_"""**).

In [20]:
print(type('This is a string'))
print(type("This one also"))
print(type('''This one as well'''))
print(type("""And this one"""))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

Strings within simple quotation marks can contain double quotation marks or viceversa:

In [21]:
print('He said that I was "A pain in the ass"')
print("That's Mr. Sander's chicken")

He said that I was "A pain in the ass"
That's Mr. Sander's chicken

The use of triple quotation marks allows the string to ocuppy more than one line in the output:

In [22]:
print('''This is
a message
divided in three lines''')

This is
a message
divided in three lines

One can also use formatting keys (or characters) such as **\n**:

In [23]:
print('This is\na message\ndivided in three lines')

This is
a message
divided in three lines

One could be tempted to use comas or points when writting a large number such as one million, which is usually written as 1,000,000. However, this is going to be treated by Python, and more specifically, by the print sentence, as three different values. In fact, one can print as many values as one want as long as they are coma separated:

In [24]:
print(1,000,000)
print(1,000,'000')
print("Failed attempts:",99,"Attempst left:",14.2,'(Yes, 14.2 does not make sense)')

1 0 0
1 0 000
Failed attempts: 99 Attempst left: 14.2 (Yes, 14.2 does not make sense)

**Conversions:** Sometimes it becomes necesssary to convert values from one type to another. Python provides us with some simple functions to do so. Functions **int()**, **float()**, and **str()** will **attempt** to convert the value given as an argument to its respective type.

We call this functions **"Type functions"**.

For instance, the **int()** function can take a floating-point number or a string, and turn it to an integer. When converting from a floating-point number, the **int()** function **trunks** the number by skipping the decimal part. This process is known as **"zero trunking"**.

In [25]:
print(14.28, int(14.28))
print(22.9999, int(22.9999))
print(3.0, int(3.0))
print(-2.677, int(-2.677))

print("12789", int("12789"))
print(type("12789"), type(int("12789")))

14.28 14
22.9999 22
3.0 3
-2.677 -2
12789 12789
<class 'str'> <class 'int'>

As we said, these functions will attempt to do the conversion, however, it's not always possible:

In [26]:
print(int('99Attempts'))

ValueError: invalid literal for int() with base 10: '99Attempts'

As follows the **float()** function being used is shown:

In [29]:
print(float("123.45"), type(float("123.45")))
print(str(123.45),type(str(123.45)))

123.45 <class 'float'>
123.45 <class 'str'>

As a final notation, we can also write floating-point numbers using **scientific notation**:

In [30]:
print(3.16e4, type(3.16e4))
print(4.19E5, type(4.19E5))

31600.0 <class 'float'>
419000.0 <class 'float'>

# 3. Variables

One of the most powerful characteristics of programing languages is their ability to store and manipulate values. A variable could be defined as a name that creates a reference to a value. The assignment sentence creates a new variable and assigns it a new value.

In [31]:
message = 'Hallo, wie geht es dir?'
intNumber = 42
piNumber = 3.1416

One should distinguish the assignment operator **(=)** from the equality token **(==)**

In [32]:
print(2 == 1 + 1)
print(3 == 1 + 1)

True
False

The print sentence also works with variables:

In [33]:
print(message)
print(intNumber)
print(piNumber)

Hallo, wie geht es dir?
42
3.1416

Variables also have a type, the same from the value they hold inside them:

In [34]:
print(type(message))
print(type(intNumber))
print(type(piNumber))

<class 'str'>
<class 'int'>
<class 'float'>

In [35]:
n = "2"
print(type(n))
n = 2
print(type(n))

<class 'str'>
<class 'int'>

We use variables to "remember" things. However, as their name indicates it, they can change and be assigned different values during execution.

In [36]:
day = "Montag"
print(day)
day = "Dienstag"
print(day)
day = 13
print(day)

Montag
Dienstag
13

# 4. Name of variables and reserved words

The names used for variables can have an arbitrary length and be composed out of numbers and letters, but there is one rule: they have to start with a letter. It's also possible to use capital letters, but one has to keep in mind that Python is a case-sensitive programming language, which means that it can differentiate between capital and non-capital letters. Additionally, the underscore character is widely used in names composed out of two or more words.

In [37]:
first_name = "David"
First_name = "Santiago"
print(first_name)
print(First_name)

David
Santiago

There is also a list of words that cannot be used to define variables. These words are known as "reserved words" and are used by Python to define its rules and structure.

In [38]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

# 5. Expressions

Expressions are a combination of values, variables and operators. If an expression is typed in the command line, it will be evaluated and a result will be returned. The same happens for when an expression is given as input to the print function.

In [39]:
8 + 9

17

In [40]:
print(22 - 8)

14

## Operators

Operators are special symbols which represent calculations such as addition, substracion, multiplication, division, and more.

In [41]:
print(5 + 7)
print(5 - 7)
print(5 * 7)
print(5 ** 7)

12
-2
35
78125

In Python 3, the division is represented by the symbol "/" and always return a floating point number:

In [42]:
minutes = 149
hours = minutes/60
print(hours)

2.4833333333333334

For the previous example, what could we do if we were interested in knowing how many complete hours are left?. Then we should execute an integer division, which is indicated to Python when one uses the symbol "//":

In [43]:
complete_hours = minutes//60
minutes_left = minutes%60 #Residual indicates minutes left
print("Hours left:",complete_hours,"Minutes left:",minutes_left)

Hours left: 2 Minutes left: 29

## String handling

There is a set of defined operations that can be performed on strings. To begin with, the "**+**" operator defines what is known as **concatenation**, which is just the combination of two strings by attaching the tail of the first one string to the head of the second:

In [44]:
first_name = "Albert"
last_name = "Einstein"
print(first_name + " " + last_name)

Albert Einstein

Repetition of string can be performed through the use of the "**\***" operator:

In [45]:
props = "let's go!"
print((props + " ")*5)

let's go! let's go! let's go! let's go! let's go!

# 6. Formatted output

The print function has different "built in tools" that can be used to give format to our output. As follows a glimpse to this is shown.

In [46]:
print("string with line break\n and a double quatation mark symbol \"")

string with line break
 and a double quatation mark symbol "

In [53]:
first_name = "Albert"
age = 145
print("Hallo, du heißt {} und bist {} Jahre alt".format(first_name,age))
print(f"Hallo, du heißt {first_name} und bist {age} Jahre alt.")

Hallo, du heißt Albert und bist 145 Jahre alt
Hallo, du heißt Albert und bist 145 Jahre alt.

In [57]:
print(f"integer: {12:d} floating point: {14.356896:.4f} string: {"Hallo":s}")

integer: 12 floating point: 14.3569 string: Hallo

# 7. Input

**input** function allows to read data typed by the user with the keyboard. The program is stopped when this function is called until the user writes something. When the user presses the Return or Enter key, the program continues its execution and the input function returns what the user has typed as a string:

In [59]:
first_name = input("Please type your first name: ")
print(f"Hallo {first_name:s}, freut mich!")

Hallo Albert, freut mich!

It's important to note that the **input** function always returns a string. Keeping that in mind, one can make conversions to work with the desired types of values.

In [60]:
age_string = input("Please enter your age: ")
age_integer = int(age_string)
print(type(age_string))
print(type(age_integer))

<class 'str'>
<class 'int'>

Last but not least, Python also supports comments, which are mostly used to explain in natural language what a code or a part of the code does. Comments are marked using the symbol **#**.

In [61]:
#prints the result of adding 20 and 9
print(20+9)

29

In [62]:
print(30 - 8) #Comments can also be located at the end of the lines

22

In [63]:
'''Lastly
multiple
line
comments
are
also
supported'''

print("Did I just missed something?")

Did I just missed something?

# Exercises

1. Write a program which input is the base and the height of a triangle and print its area.

In [67]:
base = int(input("Enter the base of the triangle in centimeters: "))
height = int(input("Enter the height of the triangle in centimeters: "))
print(f"The area of the triangle is {base*height/2} centimeters")

The area of the triangle is 20.0 centimeters

2. Write a program which input is the price of a purchase and print the total value to pay after a 15% discount is applied to it.

In [70]:
price = float(input("Please enter the price of the item: "))
print(f"The total price after discount is {price*0.85:.2f}$")

The total price after discount is 21.24$

Note: Set of exercises taken out of the course "Computer programming" developed by professor Fabio Gonzales taught at Universidad Nacional de Colombia.